extends layout.pug

block content

    nav.nav
        a(href='/')
            span &larr;
            |  Home

    article.error-info-box.inner-wrapper.flex-row-wrap

        h1= `Error Code: 404 - Page Not Found`
        if err 
            p= err.message
        else 
            p= `Oops!  It looks like the page you're looking for does not exist.`

    nav.nav
        a(href='/')
            span &larr;
            |  Back
